
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>

    <div class="container-narrow">

      <hr>

      <div class="jumbotron">
        <h2>Tekrar Merhaba {{firstname}}!</h2>
        <center>
        <img src="{{profile}}" class="img-responsive" alt="Cinque Terre">
        <p><i>{{city}}, {{state}}, {{country}}</i></p>

        <p class="lead">Tek yapman gereken çıkıp bisikletine binmek! Merak etme videolarını <b>{{email}}</b> adresine göndereceğiz.</p>
        </center> 
      </div>

      <hr>

      <div class="footer">
        <p>&copy; HyperRide 2016</p>
      </div>

    </div> <!-- /container -->

  </body>
</html>

